name: Flutter Build

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.22.0'

      - name: Install dependencies
        run: flutter pub get

      - name: Build APK (release)
        run: flutter build apk --release --verbose

      - name: Show output directories
        run: ls -R build/app/outputs/

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Flutter-release-builds
          path: |
            build/app/outputs/apk/release/
            build/app/outputs/flutter-apk/
            build/app/outputs/bundle/release/
